@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.containerCard {
  display: flex;
}
.contentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  font-family: "Varela Round", sans-serif;
}
.contentCard > img {
  width: 130%;
  height: auto;
}
.contentCard > button {
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
